#include "roBa_L.keymap"

#include "boards/shields/Test/roBa_R.overlay"

&trackball {
    automouse-layer = <MOUSE>;
    scroll-layers = <EXTRA_FINCTIONS>;
    // snipe-layers = <3>;

    arrows {
        layers = <FUNCTIONS_AND_CONTROLS>;
        bindings =
            <&kp RIGHT_ARROW>,
            <&kp LEFT_ARROW>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <10>;
    };

    volume {
        layers = <MEDIA>;
        bindings =
            <&none>,
            <&none>,
            <&kp C_VOLUME_UP>,
            <&kp C_VOLUME_DOWN>;
    };

    ctrl_alt_tab {
        layers = <CTRL_ALT_TAB_TB>;
        bindings =
            <&tab_kt_on_to LEFT_ALT ALT_TAB_TB>,
            <&shift_tab_kt_on_to LEFT_ALT ALT_TAB_TB>,
            <&shift_tab_kt_on_to LCTRL CTRL_TAB_TB>,
            <&tab_kt_on_to LCTRL CTRL_TAB_TB>;

        tick = <10>;
    };

    alt_tab {
        layers = <ALT_TAB_TB>;
        bindings =
            <&kp TAB>,
            <&kp LS(TAB)>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <80>;
    };

    ctrl_tab {
        layers = <CTRL_TAB_TB>;
        bindings =
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>,
            <&kp LS(TAB)>,
            <&kp TAB>;

        tick = <80>;
    };
};