#include "roBa_L.keymap"

#include "boards/shields/Test/roBa_R.overlay"
&trackball {
    automouse-layer = <MOUSE>;
    scroll-layers = <9>;
    // snipe-layers = <3>;

    arrows {
        layers = <3>;
        bindings =
            <&kp RIGHT_ARROW>,
            <&kp LEFT_ARROW>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <10>;
        wait-ms = <0>;
        tap-ms = <0>;
    };

    volume {
        layers = <MEDIA>;
        bindings =
                <&none>,
                <&none>,
                <&kp C_VOLUME_UP>,
                <&kp C_VOLUME_DOWN>;

        wait-ms = <0>;
        tap-ms = <0>;
    };

    alt_tab {
        layers = <4>;
        bindings =
            <&tab_with_kt_on_and_sl LEFT_ALT 5>,
            <&tab_with_kt_on_and_sl LEFT_ALT 5>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <10>;
        wait-ms = <0>;
        tap-ms = <0>;
    };

    alt_tab2 {
        layers = <5>;
        bindings =
            <&kp TAB>,
            <&kp LS(TAB)>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <80>;
    };
};