#include "roBa_L.keymap"

#include "boards/shields/Test/roBa_R.overlay"

&trackball {
    automouse-layer = <MOUSE>;
    scroll-layers = <9>;
    // snipe-layers = <3>;

    arrows {
        layers = <FUNCTIONS_AND_CONTROLS>;
        bindings =
            <&kp RIGHT_ARROW>,
            <&kp LEFT_ARROW>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <10>;
    };

    volume {
        layers = <MEDIA>;
        bindings =
            <&none>,
            <&none>,
            <&kp C_VOLUME_UP>,
            <&kp C_VOLUME_DOWN>;
    };

    ctrl_alt_tab {
        layers = <MISC>;
        bindings =
            <&tab_with_kt_on_and_sl LEFT_ALT 5>,
            <&tab_with_kt_on_and_sl LEFT_ALT 5>,
            <&tab_with_kt_on_and_sl LCTRL 6>,
            <&tab_with_kt_on_and_sl LCTRL 6>;

        tick = <10>;
    };

    alt_tab {
        layers = <ALT_TAB>;
        bindings =
            <&kp TAB>,
            <&kp LS(TAB)>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <80>;
    };

    ctrl_tab {
        layers = <CTRL_TAB>;
        bindings =
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>,
            <&kp LS(TAB)>,
            <&kp TAB>;

        tick = <80>;
    };
};